@import './../../../Style/Constant.scss';

.input-container{

    .file-list{
        max-height: 300px;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        border-width: 1px 0 0;
        border-style: solid;
        border-color: inherit;
        list-style: none;
        .single-file{
            padding: 12px 0px 12px 0px;
            border-top: 1px solid $theme;
        }
    }

}